TestCircuitBreaker/TestCircuitBreaker/obj/
TestCircuitBreaker/TestCircuitBreaker/bin/
TestEntityFramework/TestEntityFramework/bin/
TestEntityFramework/TestEntityFramework/obj/
TestEntityFramework/packages/
