TestCircuitBreaker/TestCircuitBreaker/obj/
TestCircuitBreaker/TestCircuitBreaker/bin/
TestEntityFramework/TestEntityFramework/bin/
TestEntityFramework/TestEntityFramework/obj/
TestEntityFramework/packages/
TestMoq/UnitTestProjectMailer/obj/
TestMoq/UnitTestProjectMailer/bin/
TestMoq/UnitTestLibraryMailer/obj/
TestMoq/Mailer/obj/
TestMoq/MailerIntegrationTest/obj/
TestMoq/packages/
TestMoq/MailerIntegrationTest/bin/
TestNancyTopshelf/packages/
TestNancyTopshelf/TestNancyTopshelf/obj/
TestNancyTopshelf/TestNancyTopshelf/bin/
TestNewtonsoftJson/packages/
TestNewtonsoftJson/TestNewtonsoftJson/obj/
TestNewtonsoftJson/TestNewtonsoftJson/bin/
TestNinject/packages/
TestNinject/TestNinject/obj/
TestNinject/TestNinject/bin/
*.suo
TestMoq/Mailer/bin/
TestSerilog/packages/
TestSerilog/TestSerilog/bin/
TestSerilog/TestSerilog/obj/
TestPolly/packages/
TestPolly/PollyTestApp/bin/
TestPolly/PollyTestApp/obj/
TestPolly/TestPolly/bin/
TestPolly/TestPolly/obj/
TestAsyncAwait/TestAsyncAwait/bin/
TestAsyncAwait/TestAsyncAwait/obj/
